<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <!--<service name="WaitingListService" behaviorConfiguration="mexBehavior">-->
      <service name="Logic.LogicService" behaviorConfiguration="mexBehavior">
      
        <!--<service name="Logic.DALService" behaviorConfiguration="mexBehavior">-->
  
        <!--<endpoint address="DALService" binding="netTcpBinding"
                   contract="Logic.IDALService" />
        <endpoint address="mextcp" binding="mexTcpBinding"
                  contract="IMetadataExchange" />-->

        <endpoint address="LogicService" binding="netTcpBinding"
           contract="Logic.IDALService" />
        
        <endpoint address="LogicService2" binding="netTcpBinding"
        contract="Logic.IWaitingListService" />
        
        <endpoint address="mextcp" binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8199/" />
            <add baseAddress="net.tcp://localhost:8200" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
