<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_DALService" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDALService" />
        <binding name="NetTcpBinding_IWaitingListService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8200/LogicService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IDALService" contract="ServiceHostWCF.IDALService"
        name="NetTcpBinding_IDALService">
        <identity>
          <userPrincipalName value="Danit-PC\Danit" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8200/LogicService2" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IWaitingListService" contract="ServiceHostWCF.IWaitingListService"
        name="NetTcpBinding_IWaitingListService">
        <identity>
          <userPrincipalName value="Danit-PC\Danit" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>